
body, h1, h2, h3, p, ul, li, a {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #f0eaea;
    color: #fff;
    text-align: center;
    padding: 20px;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.blog-post, .blog-section {
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    background-color: #f5f5f5;
}

h1, h2, h3 {
    color: #333;
}

h2 {
    font-size: 24px;
}

p {
    font-size: 16px;
}

.comment-section {
    padding: 20px;
    border: 1px solid #ddd;
    background-color: #f5f5f5;
}

form {
    margin-bottom: 20px;
}

label {
    font-weight: bold;
}

input[type="text"], input[type="email"], textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
}

button[type="submit"], button.delete {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

button.delete {
    background-color: #f00;
}

#comments {
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.comment {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #f5f5f5;
}

.comment h3 {
    flex: 1;
}

footer{
    background-color: #f0eaea;
    text-align: center;
    padding: 10px;
    color: #333;
}
